<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="128">
    <setting id="prefer_lq" type="bool"
        label="Предпочитать облегченное видео (при наличии)" default="false"/>
    <setting type="sep" />
    <setting id="itemcount" type="enum" values="25|50|75|100"
        label="Количество элементов на странице" default = "0"/>
    <setting id="cache_pages" type="bool"
        label="Кэшировать страницы" default="true"/>
    <setting type="action"
        label="Очистить кэш страниц" action="RunScript($CWD/resources/lib/clear_history.py,cache)" />
    <setting type="sep" />
    <setting id="savesearch" type="bool"
        label="Сохранять историю поиска" default="true"/>
    <setting id="historylength" type="enum" values="5|10|15|20|25"
        label="Длина истории поиска" enable="eq(-1,true)" default = "1"/>
        <setting type="action"
        label="Очистить историю поиска" action="RunScript($CWD/resources/lib/clear_history.py,history)" />
  </category>
  <category label="Авторизация">
    <setting id="authorization" type="bool"
        label="Использовать учетные данные ex.ua" default="false"/>
    <setting id="save_pass" type="bool"
        label="Сохранять пароль (не рекомендуется)" enable="eq(-1,true)" default="false"/>
    <setting type="action"
        label="Удалить cookies" action="RunScript($CWD/resources/lib/clear_history.py,cookies)" />
  </category>
  <category label="Отладка">
    <setting id="debug" type="bool"
        label="Включить подробный журнал отладки" default="false"/>
  </category>
</settings>
